<option value=""></option>
<option value="strength">{{localize "KALYMBA.ATTRIBUTES.STRENGTH.LONG"}}</option>
<option value="agility">{{localize "KALYMBA.ATTRIBUTES.AGILITY.LONG"}}</option>
<option value="stamina">{{localize "KALYMBA.ATTRIBUTES.STAMINA.LONG"}}</option>
<option value="intellect">{{localize "KALYMBA.ATTRIBUTES.INTELLECT.LONG"}}</option>
<option value="ginga">{{localize "KALYMBA.ATTRIBUTES.GINGA.LONG"}}</option>
<option value="ori">{{localize "KALYMBA.ATTRIBUTES.ORI.LONG"}}</option>